<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Repositorio.Properties.Settings.aallanrdConnectionString"
            connectionString="Data Source=DESKTOP-6Q1Q92A\SQLEXPRESS;Initial Catalog=aallanrd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>