<div class="">
    <h3>MultiDataBase / Insertar nueva tabla</h3>
    <h4>Uso de función del API (/insertTable)</h4>
    <a href="../App" type="button" class="btn btn-danger btn-lg pull-left">
        <i class="fa fa-arrow-left"></i>Volver
    </a>
</div>


<div class="row" ng-controller="multiController">
    <br /><br />
    <hr />

    <form  action="">
       
        <div class="col-md-12">
            <h1>Configuración </h1>
            <input placeholder="Id Conección" class="input-lg" type="number" name="cID" />
            <input placeholder="Table Name" class="input-lg" />
        </div>
            <div class="col-md-6">


                <h1>Columnas </h1>
                <input placeholder="Nombre" class="input-sm" />
                <input placeholder="Tipo" class="input-sm" />
                <input placeholder="Longitud" class="input-sm" />

                <button class="btn btn-info" onClick="dameClick()">Añadir</button>

                <ul>
                    <li ng-repeat="db in list">
                        <span>{{db.name}}</span>
                        <p>{{db.port}}</p>
                    </li>
                </ul>
                
            </div>

            

       
        <button type="submit" class="btn btn-primary btn-lg"> Crear Tabla</button>
        


    </form>

</div>


