<div class="">
    <h3>MultiDataBase / Insertar nueva tabla</h3>
    <h4>Uso de función del API (/insertTable)</h4>
</div>
<div class="row">
    
    <div class="col-md-12 text-center panel">
       
            <form action="../App/HttpCreateTable" method="post">
            <div class="panel-heading">
                <a href="../App" type="button" class="btn btn-danger btn-lg pull-left"> <i class="fa fa-arrow-left"></i>Volver </a>

                <h2>Insertar nueva tabla en base de datos</h2>
                <p>Digite los datos necesarios para ingresar una nueva tabla en la base de datos.</p>
            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="col-md-3 ">
                       

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <p>Crear Tabla </p>
                        <input type="text" placeholder="Base Datos" class="input-lg" name="database" /><br /><br />
                        <input type="text" placeholder="Nombre Tabla" class="input-lg" name="table_name" /><br /><br />

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        

                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-md-12">

                        <button type="button" class="btn btn-warning btn-lg"> Testear Conexión </button>
                        <button type="submit" class="btn btn-primary btn-lg"> Incluir Conexión</button>
                    </div>

                </div>


            </div>
        </form>
        
    </div>
    
</div>
