<div class="">
    <h3>MultiDataBase / Insertar nueva tabla</h3>
    <h4>Uso de función del API (/insertTable)</h4>
    <a href="../App" type="button" class="btn btn-danger btn-lg pull-left">
        <i class="fa fa-arrow-left"></i>Volver
    </a>
</div>


<div class="row" ng-controller="multiController">
    <br /><br />
    <hr />

    <form  ng-submit="createTable()">
       
        <div class="col-md-12">
            <h1>Configuración </h1>
            <input placeholder="Id Conección" class="input-lg" type="number" name="cID" />
            <input placeholder="Table Name" class="input-lg" />
        </div>
            
        <button type="submit" class="btn btn-primary btn-lg"> Crear Tabla</button>

    </form>

    <form ng-submit="addColumn()">

       
        
        <ul class="unstyled">

            <li ng-repeat="col in todas">
                <label class="checkbox">
                   
                    <span class="name-{{col.name}}"> {{col.name}} // {{col.type}} // {{col.length}}</span>

                </label>

            </li>

        </ul>
       
        <input placeholder="Nombre" class="input-sm" ng-model="name" />
        <input placeholder="Tipo" class="input-sm" ng-model="type" />
        <input placeholder="Longitud" class="input-sm" ng-model="length" />

        <input class="btn btn-primary" type="submit" value="add">

    </form>

</div>


