<div class="">
    <h3>MultiDataBase / Crear Base de Datos</h3>
    <h4>Uso de función del API (/CreateDB)</h4>
</div>
<div class="row">
    
    <div class="col-md-12 text-center panel" ng-controller="multiController">
       
            <form ng-submit="createDB()" >
            <div class="panel-heading text-center">
                <a href="../App" type="button" class="btn btn-danger btn-lg pull-left"> <i class="fa fa-arrow-left"></i>Volver </a>
                
                <h2>Crear Nueva Base de Datos</h2>
                <h5>Digite los datos necesarios para crear una nueva base de datos.</h5>
            </div>
            <div class="panel-body">


                <div class="row text-center">
                   
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p><i class="fa fa-database"></i> Configuración DB</p>
                        <input placeholder="ID Conexión" name="cID" ng-model="cID"/>
                        <input id="db_name" placeholder="dbName" class="input-lg" name="db_name" ng-model="db_name"/><br /><br />
                       
                    </div>
                    <div class="col-md-1"></div>
                   
                </div>

            </div>
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-md-12">

                        <button type="submit" class="btn btn-primary btn-lg"> Crear Base de Datos</button>
                        
                    </div>

                </div>


            </div>
        </form>
        
    </div>
    
</div>
