<div class="">
    <h3>MultiDataBase / Crear Base de Datos</h3>
    <h4>Uso de función del API (/CreateDB)</h4>
</div>
<div class="row">
    
    <div class="col-md-12 text-center panel">
       
            <form action="../App/CreateDB" method="post">
            <div class="panel-heading text-center">
                <a href="../App" type="button" class="btn btn-danger btn-lg pull-left"> <i class="fa fa-arrow-left"></i>Volver </a>
                
                <h2>Crear Nueva Base de Datos</h2>
                <h5>Digite los datos necesarios para crear una nueva base de datos.</h5>
            </div>
            <div class="panel-body">


                <div class="row text-center">
                   
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p><i class="fa fa-database"></i> Configuración DB</p>
                        <select class="text-center input-lg"  id="sel1" name="db_type">
                            <option>MongoDB</option>
                            <option>MariaDB</option>
                            <option>SQLDB</option>
                            
                        </select>
                        <input placeholder="dbName" class="input-lg" name="db_name" /><br /><br />
                       

                    </div>
                    <div class="col-md-1"></div>
                   
                </div>

            </div>
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-md-12">

                        <button type="button" class="btn btn-warning btn-lg"> Testear Conexión </button>
                        <button type="submit" class="btn btn-primary btn-lg"> Crear Base de Datos</button>
                        <h2 class="text-danger"> @ViewBag.created </h2>
                    </div>

                </div>


            </div>
        </form>
        
    </div>
    
</div>
