<div class="text-center">
    <h1>Elección de funciones de API</h1>
    <h2></h2>
</div>

<div class="row text-center">
    <div class="col-md-4 text-center">
        <div class="box">
            <div class="box-content">
                <h1 class="tag-title">Crear</h1>

                <hr />
                <h4>  <a href="../App/IncluirDB" class="btn btn-lg btn-block btn-success"> <i class="fa fa-database fa-lg"></i> Incluir Servidor</a> </h4><br />

                <hr />
                <h4>  <a href="../App/InsertarTabla" class="btn btn-lg btn-block btn-success"><i class="fa fa-database fa-lg"></i> Insertar en Tabla </a> </h4><br />
                <h4>   <a href="../App/CrearTabla" class="btn btn-lg btn-block btn-success"> <i class="fa fa-database fa-lg"></i> Crear Tabla</a></h4><br />
                 <h4>   <a href="../App/CrearDB" class="btn btn-lg btn-block btn-success"> <i class="fa fa-database fa-lg"> </i> Crear Base Datos</a></h4><br />


            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="box">
            <div class="box-content">
                <h1 class="tag-title">Consultar</h1>
                <hr />
                <h4>    <a href="../App/VerConexiones" class="btn btn-lg btn-block btn-primary"> <i class="fa fa-database fa-lg"> </i> Mostrar Servidores </a></h4><br />
                <h4>    <a href="../App/MultipleQuery" class="btn btn-lg btn-block btn-primary"><i class="fa fa-database fa-lg"></i> Multiple Query</a></h4><br />

          
              
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="box">
            <div class="box-content">
                <h1 class="tag-title">Editar</h1>
                <hr />
                 <h4>   <a href="../App/ActualizarTabla" class="btn btn-lg btn-block btn-warning"><i class="fa fa-database fa-lg"></i> Actualizar en Tabla</a></h4><br />
                <h4>   <a href="../App/BorrarTabla" class="btn btn-lg btn-block btn-danger"><i class="fa fa-database fa-lg"></i> Borrar Tabla</a></h4><br />

                <h4>    <a href="../App/BorrarDeTabla" class="btn btn-lg btn-block btn-danger"><i class="fa fa-database fa-lg"></i> Borrar de Tabla</a></h4><br />
         
             
            </div>
        </div>
    </div>
</div>



