<div class="">
    <h3>MultiDataBase / Eleccion de funciones de API</h3>
    <h4>Elija la funcion que desee realizar</h4>
</div>
<div class="row text-center">
    <div class="col-md-4 panel">
        <div class="panel-heading">
            <h2>  <a href="../App/IncluirDB" class="btn-link"> Incluir Database</a> </h2><br />
</div>
        <div class="panel-body">

        </div>
    </div>
    <div class="col-md-4 panel">

        <div class="panel-heading">
            <h2>   <a href="../App/CrearDB" class="btn-link"> Crear Database</a></h2><br />
        </div>
        <div class="panel-body">

        </div>
        
      
    </div>
    <div class="col-md-4 panel">

        <div class="panel-heading">
            <h2>    <a href="../App/VerConexiones" class="btn-link"> Ver Conexiones</a></h2><br />
</div>
        <div class="panel-body">

        </div>
        
  
    </div>
    
    
</div>
