<div class="">
    <h3>MultiDataBase / Incluir Nuevo Servidor</h3>
    <h4>Uso de función del API (/IncludeDB)</h4>
</div>
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10 text-center">
        <h2>Insertar nueva base de datos</h2> 
        <p>Digite los datos necesarios para ingresar un nuevo servidor o base de datos.</p>
        
        <form >

            <div class="row">
                <div class="col-md-3 ">
                    <p>Detalles</p>
                    <input placeholder="dbType" class="input-lg" /> <br /><br />
                    <input placeholder="dbProtocol" class="input-lg" /> <br /><br />
                    <input placeholder="dbAllias" class="input-lg" type="text" /><br /><br />
                   
                </div>
                <div class="col-md-4">
                    <p>Configuración Usuario</p>
                    <input placeholder="dbUser" class="input-lg" /><br /><br />
                    <input placeholder="dbPass" class="input-lg" /><br /><br />
                    
                </div>
                <div class="col-md-3">
                    <p>Configuración Servidor</p>
                    <input placeholder="dbServer" class="input-lg" /><br /><br />
                    <input placeholder="dbPort" class="input-lg" /><br /><br />
                    
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-10">
                  
                  
                    <button type="submit" class="btn btn-primary btn-lg"> Incluir Conexión</button>
                </div>
                
            </div>
           
        </form>
    </div>
    <div class="col-md-1">
        
    </div>
</div>
