<div class="">
    <h3>MultiDataBase / Insertar nueva tabla</h3>
    <h4>Uso de función del API (/insertTable)</h4>
</div>
<div class="row">
    
    <div class="col-md-12 text-center panel">
       
            <form>
            <div class="panel-heading">
                <h2>Insertar nueva base de datos</h2>
                <p>Digite los datos necesarios para ingresar un nuevo servidor o base de datos.</p>
            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="col-md-3 ">
                        <p>Detalles</p>
                        <input placeholder="dbType" class="input-lg" /> <br /><br />
                        <input placeholder="dbProtocol" class="input-lg" /> <br /><br />
                        <input placeholder="dbAllias" class="input-lg" type="text" /><br /><br />

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <p>Configuración Usuario</p>
                        <input placeholder="dbUser" class="input-lg" /><br /><br />
                        <input placeholder="dbPass" class="input-lg" /><br /><br />

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <p>Configuración Servidor</p>
                        <input placeholder="dbServer" class="input-lg" /><br /><br />
                        <input placeholder="dbPort" class="input-lg" /><br /><br />

                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-md-12">

                        <button type="button" class="btn btn-warning btn-lg"> Testear Conexión </button>
                        <button type="submit" class="btn btn-primary btn-lg"> Incluir Conexión</button>
                    </div>

                </div>


            </div>
        </form>
        
    </div>
    
</div>
