<div class="">
    <h3>MultiDataBase / Insertar nueva tabla</h3>
    <h4>Uso de función del API (/insertTable)</h4>
</div>
<div class="container" ng-controller="multiController">
    <a href="../App" type="button" class="btn btn-danger btn-lg pull-left">
        <i class="fa fa-arrow-left"></i>Volver
    </a>
      <hr />
    <form>
        <div>
            <ul>
                <li ng-repeat="db in list">
                    <span>{{list.name}}</span>
                    <p>{{list.port}}</p>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h1>Configuración </h1>
            <input placeholder="Id Conección" class="input-lg" type="number" name="cID" /><br /><br />
            <input placeholder="Table Name" class="input-lg" /><br /><br />

        </div>
        <div class="col-md-6 row">


            <h1>Columnas </h1>
            <div class="col-md-2"><input placeholder="colName" class="input-sm" /></div>
            <div class="col-md-2"><input placeholder="colType" class="input-sm" /></div>
            <div class="col-md-2"><input placeholder="colLength" class="input-sm" /></div>
            <button type="submit" class="btn btn-primary btn-lg"> Crear Tabla</button>
        </div>

        



    </form>
        
</div>
    

