<div class="">
    <h3>MultiDataBase / Insertar nueva tabla</h3>
    <h4>Uso de función del API (/insertTable)</h4>
</div>
<div class="row">
    
    <div class="col-md-12 text-center panel">
       
            <form action="../App/HttpInsertValuesTable" method="post">
            <div class="panel-heading">
                <a href="../App" type="button" class="btn btn-danger btn-lg pull-left"> <i class="fa fa-arrow-left"></i>Volver </a>

                <h2>Insertar valores en tabla</h2>
            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="col-md-3 ">
                       

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <p>Configuración </p>
                        <h2>Escribe la Base de datos involucrada</h2>
                        <input id="database" placeholder="database" class="input-lg" name="database" /><br /><br />
                        <h2>Escribe la tabla a agregar datos</h2>
                        <input id="table" placeholder="table" class="input-lg" name="table"/><br /><br />
                        <h2>Escribe los datos a agregar si es un string es dentro '' y si es un numero sin comillas</h2>
                        <h2>Separado por comas . Ejemplo: 'carlos',5</h2>
                        <input id="data" placeholder="data" class="input-lg" name="data"/><br /><br />

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        

                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-md-12">

                        <button type="button" class="btn btn-warning btn-lg"> Testear Conexión </button>
                        <button type="submit" class="btn btn-primary btn-lg"> Incluir Conexión</button>
                    </div>

                </div>


            </div>
        </form>
        
    </div>
    
</div>
