<div class="">
    <h3>MultiDataBase / Multiple Query</h3>
    <h4>Uso de función del API (/multipleQuery)</h4>
</div>
<div class="row">
    
    <div class="col-md-12 text-center panel">
       
            <form>
            <div class="panel-heading">
                <a href="../App" type="button" class="btn btn-danger btn-lg pull-left"> <i class="fa fa-arrow-left"></i>Volver </a>

                <h2>Multiple Query base de datos</h2>
              
            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="col-md-3 ">
                       

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <p>Configuración </p>
                        <input placeholder="dbUser" class="input-lg" /><br /><br />
                        <input placeholder="dbPass" class="input-lg" /><br /><br />

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        

                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-md-12">

                        <button type="button" class="btn btn-warning btn-lg"> Testear Conexión </button>
                        <button type="submit" class="btn btn-primary btn-lg"> Incluir Conexión</button>
                    </div>

                </div>


            </div>
        </form>
        
    </div>
    
</div>
