<div class="">
    <h3>MultiDataBase / Ver Conexiones Disponibles</h3>
    <h4>Uso de función del API (/getConnections)</h4>
</div>
<div class="row">
    
    <div class="col-md-12 text-center panel">
       
            <form>
            <div class="panel-heading">
                <a href="../App" type="button" class="btn btn-danger btn-lg pull-left"> <i class="fa fa-arrow-left"></i>Volver </a>

                <h2>Ver conexiones disponibles </h2>
                <p>Click en "Obtener" para mostrar las conexiones disponibles.</p>
            </div>
            <div class="panel-body">


                <div class="row">
                    
                </div>

            </div>
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-md-12">

                        <button type="button" class="btn btn-warning btn-lg"> Testear Conexión </button>
                        <button type="submit" class="btn btn-primary btn-lg"> Obtener</button>
                    </div>

                </div>


            </div>
        </form>
        
    </div>
    
</div>
