<div class="">
    <h1>MultiDataBase</h1>
    
</div>
<div class="row text-center">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        </div>
    <div class="col-md-4">
        </div>
    <div class="col-md-4 text-center">
        <div class="box">
            <div class="box-content">
                <h1 class="tag-title">MariaDB</h1>
                <hr />
            
                <p>Pruebas y conexiones con MariaDB.</p>
                <hr />
                <p><a class="btn btn-primary" href="../App?db_type=MariaDB">Ver en App &raquo;</a></p> 
            
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="box">
            <div class="box-content">
                <h1 class="tag-title">SQL</h1>
                <hr />
            
                <p>Conexión SQL DB Instances.</p>
                <hr />
                <p><a class="btn btn-primary" href="../App?db_type=SQL">Ver en App &raquo;</a></p> 

             
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="box">
            <div class="box-content">
                <h1 class="tag-title">MongoDB</h1>
                <hr />
                
                <p>MongoDB administración y herramientas.</p>
                <hr />
                <p><a class="btn btn-primary" href="../App?db_type=MongoDB">Ver en App &raquo;</a></p> 

               
            </div>
        </div>
    </div>
         

</div>
