<div class="container">
    <h1>MultiDatabase</h1>
    <p class="lead">Sistema MultiDataBase</p>
    <p><a href="https://github.com/aallanrd/multidatabase" class="btn btn-primary btn-lg">
           <i class="glyphicon glyphicon-gift"></i> Ver en Github &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Pruebas de Consultas</h2>
        <p> Haz click aqui para probar el sistema multidatabase para SQL, MongoDB y SQL Server</p>
        <p><a class="btn btn-default" href="api/values">Ver M&aacute;s&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentacion del API</h2>
        <p>Consulta de funciones del API Multidatabase</p>
        <p><a class="btn btn-default" href="">Ver M&aacute;s &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prueba Visual</h2>
        <p> Una serie de pruebas para estas Tecnologias .</p>
        <p><a class="btn btn-default" href="">Ver M&aacute;s &raquo;</a></p>
    </div>
</div>
